.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

.env

elastalert_rules/
cacert.pem

node_modules

.next

agent_pb2_grpc.py
agent_pb2.py

agent_grpc.pb.go
agent.pb.go

*.exe
*.dll

go.sum

backend/data/*
auto_response.log
config.yaml

.scannerwork/

.sonar/

sonar-project.properties
